<?xml version="1.0"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.sourceforge.net/" xml:lang="en" lang="en">
<head>
    <title>memcached-session-manager sample webapp for benchmark</title>
</head>
<body class="border">
    <wicket:border>
        <div style="width:680px; padding: 10px;" wicket:id="header">header will be here</div>
        <div style="width:680px; padding: 10px; float:left;">
            <wicket:body/>
        </div>
        <div style="border: 1px grey solid; margin-left: 700px; height: 400px; width: 160px;">
            <span wicket:id="teaser">teaser will be here</span>
        </div>
        <div wicket:id="footer" style="padding: 10px; clear:both;">footer will be here</div>
    </wicket:border>
</body>
</html>